{% load static %}

<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{% static './news/css/style.css' %}">
    </head>
<body>
    {% block main_menu %}
        <ul>
            {% for m in menu %}
                
                {% if not forloop.last %}
                    <li>{{ m }}</li>
                {% else %}
                    <li class="last">{{ m }}</li>
                    {% autoescape off %}
                        {% comment %} <li class="last">{{ m|linebreaks|truncatewords:60 }}</li> {% endcomment %}
                    {% endautoescape %}
                    {% comment %} <li class="last">{{ m|linebreaks|truncatewords:60 }}</li> {% endcomment %}
                {% endif %}
            
            {% endfor %}
      </ul>
    {% endblock main_menu %}


    {% block content %}{% endblock %}

    {% block content2 %}{% endblock %}

</body>
</html>